.small-form {
  max-width: 500px;
  > div > div {
    width: 255px;
    text-align: left;
  }
}

.big-form {
  max-width: 600px;
  > div {
    > div {
    width: 200px;
    text-align: left;
    }
  }
}

.form-style {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  padding: 25px 45px;
  background: #fff;
  border: 1px solid $purple;
  border-radius: 4px;
  margin: 0 auto;
  > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px dashed $purple;
  }

  input[type=number] {
    width: 60px;
    padding-left: 20px;
  }

  select {
    font-size: 16px;
    font-family: $body-font;
    padding: 4px 4px;
    border: 1px solid $purple;
    height: 30px;
    margin-bottom: 8px;
    background: #fff;
    border-radius: 2px;
    -webkit-appearance: none;
    -webkit-border-radius: 2px;
  }


  h3 {
    // border-bottom: 2px solid $purple;
  }

}

input:focus, button:focus, select:focus {
  outline: none;
}

input {
  font-size: 16px;
  font-family: $body-font;
  padding: 4px 4px;
  border: 1px solid $purple;
  height: 20px;
  margin-bottom: 8px;
  border-radius: 2px;
}
input[type=text] {
  width: 245px;
}

input[type="radio"] {
  border: 2px solid $purple;
  margin-right: 5px;
  background: $purple;
  padding: 0;
}
input[type="radio"]:checked {
  background: $purple;
}
input[type=checkbox] {
  margin: 0;
  height: 14px;
}

.dollar-sym {
  position: relative;
  font-size: 16px;
  left: 12px;
}
.long-input {
  width: 255px;
}
.short-input {
  width: 86px;
  margin-left: 9px;
}

button {
  position: relative;
  font-family: $body-font;
  color: $blue;
  background: $light-white;
  width: auto;
  border: 1px solid $charcoal;
  padding: 5px 8px;
  font-size: 16px;
  margin: 5px auto;
  cursor: pointer;
  transition: all ease .5s;
  border-radius: 4px;
}

button:hover {
  color: #fff;
  background: $sea-blue;
  transition: all ease .3s;
}

button:active {
  top: 2px;
}
